<%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <main class="container mx-auto bg-white shadow-lg rounded-lg p-8 mt-10 max-w-4xl">
      <h2 class="text-3xl text-red-500 font-bold text-center mb-10">
        Your registered homes:
      </h2>

      <% if (registeredHomes.length === 0) { %>
        <p class="text-center text-gray-500">No homes registered yet.</p>
      <% } else { %>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <% registeredHomes.forEach(home => { %>
            <div class="bg-gray-100 p-4 rounded-lg shadow-md hover:shadow-lg transition duration-300">
              <% if (home.homeImage) { %>
                <img src="<%= home.homeImage %>" alt="Home Image" class="w-full h-48 object-cover rounded mb-4">
              <% } %>
              <h3 class="text-xl font-semibold  mb-1 text-gray-800"><%= home.homeName %></h3>
              <p class="text-gray-700 mb-1"><span class="font-medium">Location:</span> <%= home.homeLocation %></p>
              <p class="text-gray-700"><span class="font-medium">Price per Night:</span> ₹<%= home.homePrice %></p>
              <div class="mt-4 flex space-x-2">
                <a href="/host/editHome/<%= home.id %>?editing=true" class="px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-600 transition duration-300">Edit</a>

                <form action="/host/deleteHome/<%= home.id %>" method="POST"> <!-- actions that can change the state of the backend are never sent as GET requests, so we sent them as a FORM with POST method -->
                <button type="submit" class="px-3 py-1 bg-red-500 text-white rounded hover:bg-red-600 transition duration-300">Delete</button>
                </form>
              </div>
            </div>
          <% }) %>
        </div>
      <% } %>
    </main>
  </body>
</html>
